* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameScreen {
  background-color: wheat;
  height: 100vh;
  max-width: 100vw;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameInfo {
  background-color: #0007;
  width: 80vw;
  height: 15vh;
  margin: auto;

  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.turnIndicator {
  border: 3px solid #000;
  width: 90px;
  height: 90px;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  transition: background-color 500ms ease-out;
}
.turnIndicator.left {
  background-color: steelblue;
}
.turnIndicator.right {
  background-color: tomato;
}
.turnIndicator.picking {
  background: rgb(70,130,180);
  background: conic-gradient(rgba(70,130,180,1) 0%, rgba(255,99,71,1) 100%);
  animation: rotation 400ms infinite linear;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.shine {
  position: absolute;
  background-color: #fffb;
  width: 30px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  right: 50%;
  transform: rotate(-26deg);
}

.points {
  font-size: 50px;
  font-weight: 900;
  border-radius: 50%;
}
.points.L {
  text-shadow: 0px 0px 30px #4682b4, 0px 0px 30px steelblue, 0px 0px 30px steelblue;
}
.points.R {
  text-shadow: 0px 0px 30px #ff6347, 0px 0px 30px tomato, 0px 0px 30px tomato;
}

.boardContainer {
  min-width: 700px;
  width: 70%;
  margin: auto;

  position: relative;

  display: flex;
  justify-content: space-between;
}

.board {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1.5fr);
  gap: 1px;
}

.boardTile {
  background-color: #0002;
  height: 170px;
  width: 120px;
}
.boardTile.true:hover {
  background-color: #0004;
}

.card {
  width: 120px;
  height: 170px;
  border: 5px solid whitesmoke;
  border-radius: 10px;
  margin-bottom: -80px;
  transition: transform 50ms ease-in-out;
  box-shadow: 0 -5px 15px -10px;
  cursor: pointer;
  
  position: relative;

  animation: card-drop 250ms linear;
}

.cardValues {
  background-color: yellow;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 3px;
  border-radius: 5px;

  position: absolute;
  top: 10px;
  right: 10px;

  display: grid;
  grid-template-areas:
    'top top'
    'left right'
    'bottom bottom';
  column-gap: 5px;
}

.cardValues .top {
  grid-area: top;
}
.cardValues .left {
  grid-area: left;
}
.cardValues .right {
  grid-area: right;
}
.cardValues .bottom {
  grid-area: bottom;
}

.placedCard {
  width: 120px;
  height: 170px;
  border: 5px solid whitesmoke;
  border-radius: 10px;
  transition: transform 50ms ease-in-out;

  position: relative;
}
.placedCard.L {
  background-color: steelblue;
}
.placedCard.R {
  background-color: tomato;
}

.deckContainerL, .deckContainerR {
  width: 150px;
  height: auto;
  background-color: #0001;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.deckContainerL .card {
  background: steelblue;
}
.deckContainerL .card.selected {
  transform: rotate(5deg) translateY(-35px) translateX(10px);
}
.deckContainerL .card:hover {
  transform: rotate(5deg) translateY(-35px) translateX(10px);
}

.deckContainerR .card {
  background: tomato;
}
.deckContainerR .card.selected {
  transform: rotate(-5deg) translateY(-35px) translateX(-10px);
}
.deckContainerR .card:hover {
  transform: rotate(-5deg) translateY(-35px) translateX(-10px);
}

.deckOverlay {
  width: 150px;
  height: 105%;

  position: absolute;
}
.deckOverlay.waiting {
  width: 100%;
}
.deckOverlay.left {
  right: 0;
}

@keyframes card-drop {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotation {
  0% {
    transform: translate(-50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%) rotate(360deg);
  }
}